<a href="/">Go back</a>

<form action="/<%= recipe._id %>/edit" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= recipe.name %>">

  <label for="type">Type</label>
  <input type="text" name="type" id="type" value="<%= recipe.type %>">

  <label for="avatar">Avatar</label>
  <input type="text" name="avatar" id="avatar" value="<%= recipe.avatar %>">

  <label for="ingredient">Ingredients</label>
  <textarea type="text" name="ingredient" id="ingredient"><%= recipe.ingredient %></textarea>

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"><%= recipe.description %></textarea>

  <button type="submit">Update Recipe</button>
</form>
