<a href="/recipes">Recetas</a>

<form action="/recipes/<%=recipe._id %>/edit" method="POST">
  <label for="name">Nombre</label>
  <input type="text" id="name" name="name" value="<%= recipe.name %>">

  <label for="type">Tipo De Plato:</label>
  <input type="text" name="type" id="type" value="<%= recipe.type %>">

  <label for="avatar">Foto</label>
  <input type="text" name="avatar" id="avatar" value="<%= recipe.avatar %>">

  <label for="ingredient">Ingredientes</label>
  <textarea type="text" name="ingredient" id="ingredient"><%= recipe.ingredient %></textarea>

  <label for="preparacion">Preparacion</label>
  <textarea type="text" name="preparacion" id="preparacion"><%= recipe.preparacion %></textarea>

  <button type="submit">Editar Receta</button>
</form>
