<% if (user) { %>
  <h2>Hola <%= user.username %></h2>
<% } %>

<ul>
  <% recipes.forEach((recipe) => { %>
    <li>
      <h2> <%= recipe.name %></h2>
      <img src="<%= recipe.avatar%>" width=80 height=80 />
      <p>Type De Plato: <%= recipe.type %></p>
      <p>Ingredients: <%= recipe.ingredient %></p>
      <p>Preparacion: <%= recipe.preparacion %></p>
      <a href="/recipes/<%= recipe._id %>/edit/">Edit</a>
      <a href="/recipes/<%= recipe._id %>/delete/">Delete</a>
    </li>
  <%  }) %>
</ul>
<a href="/recipes/new">Add new recipe</a>
