

<h1>Recetas Seleccionadas</h1>

<% if (user._id.toString() == recipe.author.toString() ){ %>
<ul>
    <% recipes.forEach((recipe) => { %>
    <li>
      <h2> <%= recipe.name %></h2>
      <img src="<%= recipe.avatar%>" width=100 height=100 />
      <h3> Tipo De Plato : <%= recipe.type %> </h3>
      <h3> Ingrediente Principal :<%= recipe.principalIngredient %> </h3>

      <a href="/recipes/<%= recipe._id %>">Ver Receta</a>

    <% if (user._id.toString() == recipe.author.toString() ){ %>
        <a href="/recipes/<%= recipe._id %>/edit/">Editar</a>
        <a href="/recipes/<%= recipe._id %>/delete/">Eliminar</a>
    <% } %>

    </li>
  <%  }) %>
</ul>

<a href="/recipes/new">Añadir Receta</a>

<% } %>
