<body background="uploads/fondoindex.jpg">

  <nav>
    <div class="nav-wrapper  grey darken-4">
    <a href="/" class="brand-logo">FOOD&WINE</a>
    <div><a class="right hide-on-med-and-down logout" href="/logout">logout</a></div>
    </div>
  </nav>

<a href="/recipes">Recetas</a>

<div class="container">
  <div class="row"></div>

  <div class="col s12 m6 l3 xl4">
<h1><%= recipe.name %></h1>
<img src="<%= recipe.avatar %>" width=400 height=400>
<p>Tipo De Plato:
  <%= recipe.type %>
</p>
<p>Ingrediente Principal:
  <%= recipe.principalIngredient %>
</p>
<p>Ingredientes:
  <%= recipe.ingredient %>
</p>
<p>Preparacion:
  <%= recipe.preparacion %>
</p>




<div id="maridaje-container"></div>
<button class="waves-effect grey darken-4 btn btn-maridar" id="search" data-principal-ingredient="<%= recipe.principalIngredient %>">Maridar</button>


<% if (user._id.toString() == recipe.author.toString() ){ %>
  <a href="/recipes/<%= recipe._id %>/edit/">Editar</a>
  <a href="/recipes/<%= recipe._id %>/delete/">Eliminar</a>
  <% } %>
</div>
</div>
</div>
