

  <nav>
    <div class="nav-wrapper  grey darken-4">
    <a href="/" class="brand-logo">FOOD&WINE</a>
    <div><a class="right hide-on-med-and-down logout" href="/logout">logout</a></div>
    </div>
  </nav>

<a class="waves-effect grey darken-4 btn btn-maridar" href="/recipes">Recetas</a>


  <div class="row"></div>
   <div class="col l4"></div>
  <div class="col s12 m6 l6 xl4">
  <div class="card-content transparent">
<h1 class="grey-text text-lighten-5"><%= recipe.name %></h1>
<img src="<%= recipe.avatar %>" width=400 height=400>
<p class="grey-text text-lighten-5">Tipo De Plato:
  <%= recipe.type %>
</p>
<p class="grey-text text-lighten-5">Ingrediente Principal:
  <%= recipe.principalIngredient %>
</p>
<p class="grey-text text-lighten-5">Ingredientes:
  <%= recipe.ingredient %>
</p>
<p class="grey-text text-lighten-5">Preparacion:
  <%= recipe.preparacion %>
</p>




<div id="maridaje-container"></div>
<button class="waves-effect grey darken-4 btn btn-maridar" id="search" data-principal-ingredient="<%= recipe.principalIngredient %>">Maridar</button>

  <div class="col l4"></div>

<% if (user._id.toString() == recipe.author.toString() ){ %>
  <a class="grey-text text-lighten-5" href="/recipes/<%= recipe._id %>/edit/">Editar</a>
  <a class="grey-text text-lighten-5" href="/recipes/<%= recipe._id %>/delete/">Eliminar</a>
  <% } %>
</div>
</div>
</div>
