<h1><%= recipe.name %></h1>
<img src="<%= recipe.avatar %>"width=100 height=100 >
<p>Type: <%= recipe.type %></p>
<p>Ingredients: <%= recipe.ingredient %></p>
<p>Preparacion: <%= recipe.preparacion %></p>
