<body>

<a href="/recipes">Recetas</a>

<h1><%= recipe.name %></h1>
<img src="<%= recipe.avatar %>" width=400 height=400>
<p>Tipo De Plato:
  <%= recipe.type %>
</p>
<p>Ingrediente Principal:
  <%= recipe.principalIngredient %>
</p>
<p>Ingredientes:
  <%= recipe.ingredient %>
</p>
<p>Preparacion:
  <%= recipe.preparacion %>
</p>

<div id="maridaje-container"></div>
<button id="search" data-principal-ingredient="<%= recipe.principalIngredient %>">Maridar</button>


<form action="/recipes" method="POST">
  <label for="comments">Comentarios:</label>
  <textarea type="text" name="comments" id="comments"></textarea>
  <button type="submit">Enviar Comentario</button><br>
</form>

<% if (user._id.toString() == recipe.author.toString() ){ %>
  <a href="/recipes/<%= recipe._id %>/edit/">Editar</a>
  <a href="/recipes/<%= recipe._id %>/delete/">Eliminar</a>
  <% } %>
